{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="wrapper">

  <div class="d-flex">
    <div class="flex">

      {% load static %}
      {% if request.user != user %}
      <h2>{{user.username}}
        님의 페이지</h2>
      {% else %}
      <h2>마이페이지</h2>
      {% endif %}
      <br>
      {% if user.profile_image %}
      <div class="box">
        <img class="profile" src="{{ user.profile_image.url }}">

      </div>
      <br>

      {% else %}
      <div class="profile-box">
        <img class="profile" src="https://i.esdrop.com/d/f/bvRLlOwptP/ioSr1p9iMx.jpg">
      </div>

      <br>
      {% endif %}
      <h3>{{user.username}}
        님의 프로필</h3>

      <p>이메일 :

        {{user.email}}</p>

      <p>닉네임 :
        {{user.nickname}}</p>
      {% csrf_token %}
      {% if request.user == user %}
      <button type="button" class="btn" style="background-color: rgb(245, 132, 12);">
        <div class="title">
          <a href="{%url 'accounts:update' %}">프로필 수정</a>
        </div>
      </button>
      {% endif %}
    </div>

    <div class="d-flex">
      {% csrf_token %}

      <p><br><br><br><br><br>Follow
        <a id="following-count" href="{% url 'accounts:following' user.pk%}">{{user.followings.count}}</a>
        <br>
        팔로워
        <a id="follower-count" href="{% url 'accounts:follower' user.pk%}">{{user.followers.count}}</a>
      </p>
      {% if request.user != user %}
      {% csrf_token %}
      <form id="follow-form" data-user-id="{{ user.pk }}">
        {% if request.user in user.followers.all %}
        <button id="follow-btn" class="btn btn-primary form-control" type="submit">팔로우 취소</button>
        {% else %}
        <button id="follow-btn" class="btn btn-outline-primary form-control" type="submit">팔로우</button>
        {% endif %}
      </form>
      {% endif %}

    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followUrl = "{% url 'accounts:follow' user.pk %}";
</script>
<script>
  const followForm = document.querySelector("#follow-form")
  const csrftoken = document
    .querySelector('[name=csrfmiddlewaretoken]')
    .value
  followForm
    .addEventListener("submit", function (event) {
      event.preventDefault()
      axios({
        method: "POST",
        url: followUrl,
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
        .then(response => {
          const isFollowed = response.data.is_followed
          const followBtn = document.querySelector('#follow-form > #follow-btn')
          const followerCountTag = document.querySelector('#follower-count')
          const followingCountTag = document.querySelector('#following-count')

          if (isFollowed) {
            followBtn
              .classList
              .add("btn-primary")
            followBtn
              .classList
              .remove("btn-outline-primary")
            followBtn.innerText = "팔로우 취소"
          } else {
            followBtn
              .classList
              .add("btn-outline-primary")
            followBtn
              .classList
              .remove("btn-primary")
            followBtn.innerText = "팔로우"
          }
          followerCountTag.innerText = response.data.followers_count
          followingCountTag.innerText = response.data.followings_count
        })
        .catch(error => {
          console.log(error.response)
        })

  </script>

{% endblock content %}

