{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

  <div>
    <div>
      <div>
       {% if request.user != user %}
          <h2>{{user.username}}
            님의 페이지</h2>
        {% else %}
          <h2>마이페이지</h2>
        {% endif %}
      </div>
      <div>
        {% if user.profile_image %}
          <div class="box">
            <img class="profile" src="{{ user.profile_image.url }}">
          </div>
        {% else %}
          <div class="profile-box">
            <img class="profile" src="https://i.esdrop.com/d/f/bvRLlOwptP/ioSr1p9iMx.jpg">
          </div>
        {% endif %}
      </div>
      <div>
        <h3> {{user.username}} 님의 프로필</h3>
        <p>이메일 : {{user.email}}</p>
        <p>닉네임 : {{user.nickname}}</p>
      </div>
      <div>
        {% if request.user == user %}
          <button type="button" class="btn" style="background-color: rgb(245, 132, 12);">
            <div class="title">
              <a href="{%url 'accounts:update' %}">프로필 수정</a>
            </div>
          </button>
        {% endif %}
      </div>  
      <div>
        <div>
          팔로잉
          <a id="following-count" href="{% url 'accounts:following' user.pk%}">{{user.followings.count}}</a>
        </div>
        <div>
          팔로워
          <a id="follower-count" href="{% url 'accounts:follower' user.pk%}">{{user.followers.count}}</a>
        </div>
        <div>
          {% if request.user != user %}
          {% csrf_token %}
          <form id="follow-form" data-user-id="{{ user.pk }}">
            {% if request.user in user.followers.all %}
              <button id="follow-btn" class="btn btn-primary form-control" type="submit">팔로우 취소</button>
            {% else %}
              <button id="follow-btn" class="btn btn-outline-primary form-control" type="submit">팔로우</button>
            {% endif %}
          </form>
          {% endif %}
      </div>        
    </div>
  </div> 
  <div> 
    <div>
      <h3>작성글</h3>
      <p>{{ user.review_set.count }}개를 작성했습니다.</p>
      <div>
        {% for review in user.review_set.all %}
          <p>
            {{ forloop.counter }}
            <a href="{%url 'posts:detail' review.post.pk %}">
              {{review.post.title}}</a> | 평점 : {{review.glade}}
          </p>
          <p><a href="{% url 'posts:detail' review.pk %}">{{ review.content }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followUrl = "{% url 'accounts:follow' user.pk %}";
  </script>
  <script>
    const followForm = document.querySelector("#follow-form")
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      followForm
      .addEventListener("submit", function (event) {
        event.preventDefault()
        axios({
          method: "POST",
          url: followUrl,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
          .then(response => {
            const isFollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-form > #follow-btn')
            const followerCountTag = document.querySelector('#follower-count')
            const followingCountTag = document.querySelector('#following-count')

            if (isFollowed) {
              followBtn
                .classList
                .add("btn-primary")
              followBtn
                .classList
                .remove("btn-outline-primary")
              followBtn.innerText = "팔로우 취소"
            } else {
              followBtn
                .classList
                .add("btn-outline-primary")
              followBtn
                .classList
                .remove("btn-primary")
              followBtn.innerText = "팔로우"
            }
            followerCountTag.innerText = response.data.followers_count
            followingCountTag.innerText = response.data.followings_count
          })
          .catch(error => {
            console.log(error.response)
          })
        })
  </script>

{% endblock content %}

{% comment %} review model.py 에
 def summary(self):
return self.body[:100]  
적어주고 detail.html 에서 {{review.body}} 로 받아주기. {% endcomment %}
