{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div class='follow'>
    <div>
      <h1>{{ user.username }}님이 팔로우한 회원</h1>
    </div>
    <div>
      {% if user.followings.count == 0 %}
        <p>{{ user.username }}
          님이 팔로우하는 회원이 없습니다.</p>
      {% else %}
        <div>
          <p>{{user.followings.count}}
            명</p>
        </div>
        <div style="overflow:auto;width:100%;height:100%;line-height:150%;">
          {% for user in users %}
            <div class='follow_profile'>
              {% if request.user == user %}
                {% if user.profile_image %}
                  <img class='follow_img' src="{{user.profile_image.url}}">
                {% else %}
                  <img class='follow_non_img' src="https://i.esdrop.com/d/f/bvRLlOwptP/ioSr1p9iMx.jpg">
                {% endif %}
                <h4 class="mx-5">
                  <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
                </h4>
              {% endif %}
            </div>
            {% if request.user == user %}
              <hr>{% endif %}
          {% endfor %}

          {% for user in users %}
            <div class='follow_profile'>
              {% if request.user != user%}
                {% if user.profile_image %}
                  <img class='follow_img' src="{{user.profile_image.url}}">
                {% else %}
                  <img class='follow_non_img' src="https://i.esdrop.com/d/f/bvRLlOwptP/ioSr1p9iMx.jpg">
                {% endif %}
                <h4 class="mx-5">
                  <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
                </h4>
              {% endif %}
              {% if request.user != user %}
                <div style="float:right;">
                  {% if request.user in user.followers.all %}
                    <div id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-danger" type="submit">팔로우 취소</div>
                  {% else %}
                    <div id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-primary" type="submit">팔로우</div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            {% if request.user != user %}
              <hr>{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followBtn = document.querySelector('#follow-btn')
    followBtn.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      axios({method: 'get', url: `/accounts/follow/${event.target.dataset.userId}/`}).then(response => {
        console.log(event.target.dataset)
        console.log(response.data)
        if (response.data.is_followed === true) {
          event
            .target
            .classList
            .add('btn-danger')
          event
            .target
            .classList
            .remove('btn-primary')
          followBtn.innerText = "팔로우 취소"
        } else {
          event
            .target
            .classList
            .add('btn-primary')
          event
            .target
            .classList
            .remove('btn-danger')
          followBtn.innerText = "팔로우"
        }
      })
    })
  </script>

{% endblock content %}
