{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="wrapper">
    <div class="login-wrap d-flex flex-column">
      <div class="my-5">
        <h1 class="text-center post-color pb-4">회원가입</h1>
        <form active="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-grid gap-2">
            <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">회원가입
            </button>
          </div>
        </form>
      </div>
    </div>

  {% endblock content %}
