{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}


<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <!-- 왼쪽 구역 -->
    <div class="col-7">
      <br><br>
      <h1 class="d-flex"><span id="post_title">{{ post.title }}</span>
        <span class="ms-auto">
          <!-- 좋아요 -->
          {% if request.user.is_authenticated %}
          {% if request.user in post.like_user.all %}
          <i id="like-btn" data-post-id="{{ post.pk }}" class="bi bi-balloon-heart-fill likes_color"></i>
          {% else %}
          <i id="like-btn" data-post-id="{{ post.pk }}" class="bi bi-balloon-heart likes_color"></i>
          {% endif %}
          {% else %}

          <i class=" bi bi-balloon-heart likes_color"></i>

          {% endif %}

          <button type="button submit" class="btn"
            style="margin:30px; background-color: rgb(245, 132, 12);  width: 7rem;"><a class
              href="{% url 'posts:review_create' post.pk%}" style="color:white;">리뷰작성</a></button>
        </span>
      </h1>
      <div class="d-flex">
        <h4>리뷰: </h4>
        <h4>{{ post.review_set.count }}</h4><br>
        <i class="bi bi-balloon-heart"></i>
        <h4 id="like-count">{{ post.like_user.count }}</h4>
      </div>
      <div class="">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.image }}" style="width: 640px; height: 440px;">

        {% else %}

        <img src="https://img.apti.co.kr/aptHome/images/sub/album_noimg.gif" style="width: 720px; height: 480px;">

        {% endif %}
        <!-- 글쓴이 정보 -->
        <div class="mt-3" style="display: flex;align-items: center;">
          {% if post.user.profile_image %}
          <img src="{{ post.user.profile_image.url }}" style="width: 120px; height: 120px; border-radius: 50%;">
          {% else %}

          <img src="https://i.esdrop.com/d/f/bvRLlOwptP/ioSr1p9iMx.jpg"
            style="width: 120px; height: 120px; border-radius: 50%;">
          {% endif %}

          <a class="fs-3 ms-3 text-decoration-none text-black" href="{% url 'accounts:detail' post.user.pk %}">
            {{ post.user.nickname }}
          </a>
          <!-- 팔로우 -->
          {% if request.user != post.user %}
          {% if request.user in post.user.followers.all %}
          <div id="follow-btn" data-post-id="{{ post.user.pk }}" class="ms-3 btn btn-danger" type="submit">팔로우 취소</div>
          {% else %}
          <div id="follow-btn" data-post-id="{{ post.user.pk }}" class="ms-3 btn btn-primary" type="submit">팔로우</div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <!-- 오른쪽 구역 -->
    <div class="col-5">
      <div class="text-end">
        <button type="button submit" class="btn" style="background-color: rgb(245, 132, 12);  width:9rem;"><a
            href="{% url 'posts:update' post.pk %}" style="color:white; width:20px">가게 정보 수정</a></button>

        <a class="my-3 mx-2 btn btn-danger" href="{% url 'posts:delete' post.pk %}">삭제</a>
      </div>
      <br><br><br><br><br>
      <div id="map" style="width:500px;height:400px;"></div>
      {% comment %} <img class="my-3" src="https://img.apti.co.kr/aptHome/images/sub/album_noimg.gif"
        style="width: 520px; height: 400px;" alt="지도"> {% endcomment %}
      <br>
      <div class="mb-3" style="font-size:1.4em">주소 :
        <span id="post_address">{{ post.address }}</span>
      </div>
      {% if post.review_set.count %}
      <div class="mb-3" style="font-size:1.4em">평점 :
        {{ points }}</div>
      {% else %}
      <div class="mb-3" style="font-size:1.4em">
        평점 : 아직 평가가 없어요.
      </div>
      {% endif %}
      {% if post.phonenumber %}
      <div class="mb-3" style="font-size:1.4em">전화번호 :
        {{ post.phonenumber }}</div>
      {% endif %}
      <div class="mb-3" style="font-size:1.4em">음식 종류 :
        {{ post.sectors }}</div>
    </div>
    <!-- 리뷰 -->
    <div class="my-5">
      <h1>리뷰</h1>
      {% if points != 0 %}
      {% for review in page_obj %}
      <div class="row border-bottom border-3 py-3">
        <div class="col-11">
          <div class="d-flex">
            <a href="{%url 'accounts:detail' review.user.pk%}">{{ review.user.nickname }}</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <div>
              {% if review.grade == 1 %}
              <p> 내 평점 <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i
                  style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i> <i style="color:rgb(255, 86, 86);"
                  class="hart bi bi-star"></i> <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i> <i
                  style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i></p>
              {% elif review.grade == 2 %}
              내 평점 <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);"
                class="hart bi bi-star"></i> <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
              {% elif review.grade == 3 %}
              내 평점 <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);"
                class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
              {% elif review.grade == 4 %}
              내 평점 <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);"
                class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
              <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
              {% elif review.grade == 5 %}
              내 평점 <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i
                style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);"
                class="hart bi bi-star-fill"></i> <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
              <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
              {% endif %}
              </p>

            </div>
          </div>
          {% if review.image %}
          <img class="my-3" src="{{ review.image.url }}" style="height: 180px;">
          {% endif %}
          <div>
            {{ review.content }}
          </div>
        </div>
        {% if request.user == review.user %}
        <div class="col-1">
          <a class="text-decoration-none text-danger" href="{% url 'posts:review_delete' review.pk %}">삭제</a>
        </div>
        {% else %}
        <div class="col-1">
          <a class="text-decoration-none text-danger" href="{% url 'posts:review_delete' review.pk %}"
            aria-disabled="true">삭제</a>
        </div>
        {% endif %}
      </div>
      {% empty %}
      <p>아직 작성된 리뷰가 없어요.ㅜ</p>
      {% endfor %}
      {% endif %}
    </div>

    <!--===========페이지네이션============-->
    <div>
      {% if page_obj.has_other_pages %}
      <ul style='display:flex;list-style: none;'>
        {%if page_obj.has_previous%}
        <li style="margin: 3px;">
          <a style="text-decoration:none; color:black" href="?page={{page_obj.previous_page_number}}">이전</a>
        </li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
        <li style="margin: 3px;">
          <a style="text-decoration:none; color:orange" href="?page={{page}}">{{page}}</a>
        </li>
        {% else %}
        <li style="margin: 3px;">
          <a style="text-decoration:none; color:black" href="?page={{page}}">{{page}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {%if page_obj.has_next%}
        <li style="margin: 3px;">
          <a style="text-decoration:none; color:black" href="?page={{page_obj.next_page_number}}">다음</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <!--===========페이지네이션 끝============-->

  </div>
</div>

<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b0e997cd023dad73f9cca61b4b9481e9&libraries=services"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
      center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
      level: 3 // 지도의 확대 레벨
    };

  // 지도를 생성합니다    
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new kakao.maps.services.Geocoder();

  // 검색할 주소, 출력할 가게이름
  var post_title = document.querySelector('#post_title').innerText
  var post_address = document.querySelector('#post_address').innerText

  // 주소로 좌표를 검색합니다
  geocoder.addressSearch(`${post_address}`, function (result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

      // 결과값으로 받은 위치를 마커로 표시합니다
      var marker = new kakao.maps.Marker({
        map: map,
        position: coords
      });

      // 인포윈도우로 장소에 대한 설명을 표시합니다
      var infowindow = new kakao.maps.InfoWindow({
        content: `<div style="width:150px;text-align:center;padding:6px 0;">${post_title}</div>`
      });
      infowindow.open(map, marker);

      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
      map.setCenter(coords);
    }
  });    
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 좋아요 -->
<script>
  const likeBtn = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/posts/${event.target.dataset.postId}/likes/` }).then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-balloon-heart-fill')
        event.target.classList.remove('bi-balloon-heart')
      } else {
        event.target.classList.add('bi-balloon-heart')
        event.target.classList.remove('bi-balloon-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>

  

<!-- 팔로우 -->
<script>
  const followBtn = document.querySelector('#follow-btn')
  followBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/accounts/follow/${event.target.dataset.postId}/`}).then(response => {
      console.log(event.target.dataset)
      console.log(response.data)
      if (response.data.is_followed === true) {
        event
          .target
          .classList
          .add('btn-danger')
        event
          .target
          .classList
          .remove('btn-primary')
        followBtn.innerText = "팔로우 취소"
      } else {
        event
          .target
          .classList
          .add('btn-primary')
        event
          .target
          .classList
          .remove('btn-danger')
        followBtn.innerText = "팔로우"
      }
    })

  })
</script>
<script>

  function delete_review(id) {
    let param = {
      'replyId': id
    }
    axios({
      url: `${id}/delete`,
      method: 'get'
    })
      .then(response => {
        event.target.delete()
      })
  }
</script>

{% endblock content %}