{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <div class='review_detail'>
    <div class='review_detail2'>
      <h2>{{review.user.nickname}}님의 리뷰
      </h2>
      {% if review.image %}
        <img class="my-3" src="{{ review.image.url}}">
      {% endif %}
      <p>
        {% if review.grade == 1 %}
          {{review.user.nickname}}
          님의 평점
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>

        {% elif review.grade == 2 %}
          {{review.user.nickname}}
          님의 평점
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>

        {% elif review.grade == 3 %}
          {{review.user.nickname}}
          님의 평점
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>

        {% elif review.grade == 4 %}
          {{review.user.nickname}}
          님의 평점
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star"></i>

        {% elif review.grade == 5 %}

          {{review.user.nickname}}
          님의 평점
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
          <i style="color:rgb(255, 86, 86);" class="hart bi bi-star-fill"></i>
        {% endif %}
      </p>
      <p>{{review.content}}</p>

    </div>

  </div>
{% endblock content %}
