@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.body {
  background-color: rgb(244, 242, 246);
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  height: 1000px;
}

